
@font-face {
	font-family: "SpaceMono";
	src: url("/fonts/SpaceMono-Regular.ttf") format("truetype")
  }
  

html, body {
	background: black;
}
html {
	color: white;
	background: black;
}
body {
	font-size: 2rem;
	font-family: SpaceMono;
	font-weight: 300;
	padding: 1rem;
}

.big {font-size: 200%;}
.giant {font-size:540%;}
.reg {font-size: 150%;}
.sub {font-size: 80%;}
.dim {
	opacity: .5;
}

div {
	display: inline-block;
}
div.grid-container {
	display: grid;
  }

img.emoji {  
  // Override any img styles to ensure Emojis are displayed inline
  margin: 0px !important;
	font-size: inherit;
  display: inline !important;
	height: 25px;
	width: 25px;
}

#clock {
	display: inline-block;
	float: right;
	text-align: right;
	position: relative;
	margin-top: -3rem;
	margin-bottom: 0rem;
}

#time {
	margin-bottom: 0rem;
}

#ampm {
	margin-bottom: 0rem;
}

#forecast {
	width: 28rem;
}

#currentTemp {
	display: inline-block;
	margin-right:5rem;
	margin-bottom: -8rem;
}
#tempHigh {
	display: inline-block;
}

#tempLow {
	display: inline-block;
}

#conditions {
	display: block;
	margin-bottom: .5rem;
}

#currently {
	display: block;
	float: left;
	//margin-top: .5rem;
}

#summary {
	display: inline-block;
	line-height: 1.3;
	> div {
		display: block;
	}
}

footer {
	display: block;
	position: fixed;
	width: 100%;
	top: 85%;
}
#alerts {
	margin-top: 1rem;
}

#compliments {
	position: relative;
	width: 80%;
	& > .compliment {
		width: auto;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		text-align: center;
	}
}

@media (max-width: 48rem) {
	#clock {
		display: block;
		float: initial;
		text-align: initial;
	}	
}